.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.h1 {
  margin-bottom: 0;
  position: relative;
  right: -350px; /* Regola questa cifra per spostarlo a destra o a sinistra */
  font-family: 'VT323', monospace;
  font-size: 54px;
  width: 200%; /* Aumenta il valore della width */
}


.explain {
  font-size: 1.125rem;
  max-width: 1200px;
}

.spacer {
  margin: 40px 0;
}

.divider {
  width: 50%;
  border-color: rgb(12, 7, 15);
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.nftBoxGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea due colonne con larghezza uguale */
  grid-gap: 2%; /* Spazio tra le caselle */
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 350px; /* Sposta la griglia a destra di 10px */
}

.nftBox {
  width: 80%;
  height: 300px;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid #f4e9f7;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.nftBoxGrid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne di larghezza uguale */
  grid-gap: 20px; /* Spazio tra i riquadri */
  margin-top: 28px;
  margin-bottom: 28px;
  justify-content: center; /* Centra le caselle orizzontalmente */
  margin-left: 450px; /* Sposta il nftBoxGrid1 verso destra */
}

.nftBox1 {
  width: 380px; /* Imposta una larghezza maggiore per le caselle */
  height: 380px; /* Imposta l'altezza al valore desiderato, ad esempio 350px */
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid #f4e9f7;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}





/* Rimuovi il margine inferiore dell'ultima casella di ogni colonna */
.nftBox:nth-child(3n) {
  margin-bottom: 0;
}


.nftMedia {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.nftLabel {
  /* Aggiungi gli stili desiderati per il componente NftLabel */
  /* Ad esempio: */
  font-size: 16px;
  color: #000000;
  /* Altri stili... */
}

.nftBox {
  box-shadow: 0 0 8px 2px rgba(242, 113, 8, 0.75); /* Cambia il colore viola in arancione */
  animation: pulsate 2s infinite; /* Imposta l'animazione di pulsazione continua */
}




@keyframes pulsate {
  0% {
    box-shadow: 0 0 8px 2px rgba(242, 113, 8, 0.75);
  }
  50% {
    box-shadow: 0 0 16px 4px rgba(242, 113, 8, 0.75);
  }
  100% {
    box-shadow: 0 0 8px 2px rgba(242, 113, 8, 0.75);
  }
}

.nftBox1 {
  box-shadow: 0 0 8px 2px rgba(219, 8, 242, 0.75); /* Cambia il colore viola in arancione */
  animation: pulsate1 2s infinite; /* Imposta l'animazione di pulsazione continua */
}

@keyframes pulsate1 {
  0% {
    box-shadow: 0 0 8px 2px rgba(234, 8, 242, 0.75);
  }
  50% {
    box-shadow: 0 0 16px 4px rgba(207, 8, 242, 0.75);
  }
  100% {
    box-shadow: 0 0 8px 2px rgba(242, 8, 207, 0.75);
  }
}


.optionSelectBox {
  width: 48%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  cursor: pointer;
}

.selectBoxTitle {
  font-size: 108px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.selectBoxDescription {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 10px rgba(150, 100, 255, 0.3);
}

.nav {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1800px; /* Aumenta la larghezza massima della navbar */
  background: linear-gradient(to right, rgba(150, 100, 255, 0.3), rgba(0, 0, 0, 0));
  height: 60px;
}

.navLeft,
.navRight {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-right: 40px; /* Modifica questo valore per spostare gli elementi pi첫 vicini al centro */
}



.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgb(255, 255, 255);
}



.profile-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(45, 35, 48, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.profile-container,
.profile-container2 {
  background-color: #000;
  color: #fefefe;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: -50px;
}

.profile-close {
  position: absolute;
  top: 1px;
  right: 10px;
  color: #000;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.info-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid #ff00ff;
}

.card-header {
  font-weight: bold;
}

.card-content {
  margin-top: 6px;
}

.totalStakedNFTs {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #7c04a1;
}



.tokenGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: 16px auto;
  margin-left: 20px; /* Aggiungi il margin-left per spostarlo a destra */
}

.tokenItem {
  width: 100%;
  max-width: 500px;
  min-height: 200px; /* Aumenta l'altezza per renderlo pi첫 lungo */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 10px rgba(148, 0, 211, 0.5) inset;
}

.tokenLabel {
  margin-top: 20px;
  margin-bottom: 10px; /* Aumenta il margine in basso per allungare il contenuto */
  font-weight: 800;
  font-size: 2.5rem; /* Riduci la dimensione del testo a 2.5rem */
  line-height: 1.5;
  color: #FFFFFF;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.3), 0 0 7px rgba(255, 255, 255, 0.1);
  font-family: 'VT323', monospace;
  margin-left: 60px; /* Sposta il testo a destra di 10px */
  white-space: nowrap; /* Impedisce il testo di andare a capo */
}


.tokenValue {
  font-size: 2rem; /* Riduci la dimensione del testo a 2rem */
  font-weight: 700;
  color: #FF6600;
  text-shadow: 0 0 3px rgba(255, 102, 0, 0.5), 0 0 5px rgba(255, 102, 0, 0.3), 0 0 7px rgba(255, 102, 0, 0.1);
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tokenItem::before {
  content: "";
  position: absolute;
  top: -60%;
  left: -60%;
  width: 220%;
  height: 220%;
  background: linear-gradient(to right, transparent, violet, transparent);
  filter: blur(20px);
  opacity: 0.5;
  animation: flowAnimation 5s linear infinite;
}

@keyframes flowAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .tokenLabel {
    font-size: 2rem; /* Riduci la dimensione del testo a 2rem per la visualizzazione su mobile */
    line-height: 1.4;
  }

  .tokenValue {
    font-size: 1.8rem; /* Riduci la dimensione del testo a 1.8rem per la visualizzazione su mobile */
  }
}


.tokenLabel2 {
  margin-top: 20px;
  margin-bottom: 10px; /* Aumenta il margine in basso per allungare il contenuto */
  font-weight: 800;
  font-size: 2rem; /* Riduci la dimensione del testo a 2rem */
  line-height: 1.8;
  color: #FFFFFF;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.3), 0 0 7px rgba(255, 255, 255, 0.1);
  font-family: 'VT323', monospace;
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  margin-left: 80px; /* Sposta il testo verso destra di 20px */
}



.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: -10px;
  gap: 20px; /* Aggiungi il valore che preferisci per creare uno spazio tra i bottoni */
}



.stakeButton,
.revenueShareButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #272728;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-right: 10px;
}

.stakeButton:hover,
.revenueShareButton:hover {
  background-color: #555555;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.lightCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #8A2BE2;
  box-shadow: 0 0 20px 10px rgba(138, 43, 226, 0.5);
  overflow: hidden;
}

.lightCircle::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(138, 43, 226, 0.5);
  animation: moveLight 4s linear infinite;
}

@keyframes moveLight {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.circleText {
  font-size: 30px;
  font-weight: bold;
  color: #8b1cf2ed;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.circleText1 {
  font-size: 30px;
  font-weight: bold;
  color: #8b1cf2ed;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #892be200;
  box-shadow: 0 0 10px 2px rgb(163, 63, 251);
  margin-top:510px;
  margin-right: 4px;
}

.pageContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 16px;
}


.title1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.claimButton1 {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fbf8f6;
  background-color: #892be200;
  box-shadow: 0 0 10px 2px rgba(137, 43, 226, 0);
}

@media only screen and (max-width: 800px) {
  
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}



.stakedQuantity {
  font-family: 'VT323', monospace;
  font-size: 18.5px;
  color: #FF6600;
  text-shadow: 0 0 3px rgba(242, 113, 8, 0.5), 0 0 5px rgba(138, 43, 226, 0.3), 0 0 7px rgba(138, 43, 226, 0.1);
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: -10px;
}








.selectLabel {
  font-family: 'VT323', monospace;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 4px;
  color: #ffffff; /* Imposta un colore viola fluo/luminoso */
}


.withdrawInput {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: 'VT323', monospace;
  font-size: 18px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
}

.withdrawInput::-webkit-inner-spin-button,
.withdrawInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stakeInputContainer {
  display: flex;
  align-items: center;
  margin-top: 360px;
  margin-left: -330px; /* Regola il valore per spostarlo a sinistra */
}

.selectLabel1 {
  font-family: 'VT323', monospace;
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 4px;
  color: #9e46f7;
  text-shadow: 0 0 5px rgba(203, 149, 247, 0.8); /* Imposta un'ombra pi첫 luminosa */
  font-weight: bold; /* Rendi il testo in grassetto */
  margin-right: -10px;
}



.stakeInput {
  border: 2px solid #ffffff; /* Imposta il bordo di colore bianco */
  background-color: #ffffff00; /* Imposta lo sfondo di colore bianco */
  color: #fcfcfc;
  font-family: 'VT323', monospace;
  font-size: 18px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
  margin-left: 15px; /* Aggiungi il margine sinistro desiderato */
  text-shadow: 0 0 5px rgba(153, 0, 255, 0.8); /* Imposta un'ombra pi첫 luminosa */
}





.stakeInput::-webkit-inner-spin-button,
.stakeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




